{{- $name := promptStringOnce . "name" "Git user name" (output "git" "config" "--default" "" "user.name" | trim) -}}
{{- $email := promptStringOnce . "email" "Git email address" (output "git" "config" "--default" "" "user.email" | trim) -}}
{{- $editor := promptStringOnce . "editor" "Preferred editor" "nvim" -}}
{{- $aria2RpcSecret := promptStringOnce . "aria2RpcSecret" "Aria2 RPC secret (rpc-secret)" "1145141919810" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    editor = {{ $editor | quote }}
    aria2RpcSecret = {{ $aria2RpcSecret | quote }}

# 编辑命令的配置
[edit]
    # 设置默认编辑器
    command = {{ $editor | quote }}
    # 设置编辑器参数，'--wait' 确保在文件关闭后才继续执行命令 
    args = ["--wait"]

# 差异对比命令的配置
[diff]
    command = "git"
    args = ["diff", "--no-index"]