[init]
	defaultBranch = main
[fetch]
	prune = true
[user]
	name = {{ .name }}
	email = {{ .email }}
[core]
  pager = delta
{{- if eq .chezmoi.os "windows" }}
  autocrlf = true
{{- else }}
  autocrlf = input
{{- end }}
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detection
[merge]
  conflictStyle = zdiff3
[credential]
{{- if eq .chezmoi.os "windows" }}
  helper = manager
{{- else }}
  {{- if stat "/usr/share/git/credential/libsecret/git-credential-libsecret" }}
    helper = /usr/share/git/credential/libsecret/git-credential-libsecret
  {{- else }}
    helper = cache --timeout=3600
  {{- end }}
{{- end }}
[http]
  proxy = http://127.0.0.1:7897
[https]
  proxy = http://127.0.0.1:7897
