[init]
	defaultBranch = main
[fetch]
	prune = true
[user]
	name = Cyanix-0721
	email = 34270450+Cyanix-0721@users.noreply.github.com
[core]
  pager = delta
{{- template "os-windows" "  autocrlf = true" }}
{{- template "os-unix" "  autocrlf = input" }}
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detection
[merge]
  conflictStyle = zdiff3
[credential]
{{- template "os-windows" "  helper = manager" }}
{{- template "os-unix" "  helper = cache --timeout=86400 # seconds" }}
